.Rproj.user
.Rhistory
.RData
carlopacioni-vortexR.Rproj
.modgen.back
.mods.back
tests/testthat/Rplots\.pdf
tests/testthat/*.mods.back
tests/testthat/*.modgen.back
revdep/*.
revdep
/revdep/.cache.rds
docs/
